<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>TurboGears File Upload Example</title>
</head>

<body>
    
    <form method="post" action="save" enctype="multipart/form-data">
    Select File:<br />
    <input type="file" name="userfile" /> <br />
    <input type="submit" value="Upload File" />    
    </form>
    
    <h2>Files Uploaded</h2>
    <div py:for="file in current_files">
    <a href="/view/${file.id}">${file.filename}</a> [<a href="/delete/${file.id}">x</a>]
    </div>
    
</body>
</html>
